<a href="https://colab.research.google.com/github/thaitruong018/e_commerce_analysis/blob/main/5_Customer_lifetime_value.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## What is Customer lifetime value?
Customer lifetime value (CLTV) is represents the total amount of money a customer is expected to spend in a business during his/her lifetime.  
There are few approaches available to compute CLTV.  
In my notebook, I use a simple approach:  
CLTV = ((Average Order Value or Sales x Frequency of purchase)/Churn Rate) x Profit Margin  
 - Average order value = Total Revenue / Total Number of Orders
 - Frequency of purchase = Total Number of Orders / Total Number of Customers  
 - Churn rate = 1 - Repeat rate  
 - Profit margin represents what percentage of sales turn into profits
 - Repeat rate can be defined as the ratio of the number of customers with more than one order and the number of unique customers

## Set-up

In [47]:
# connect to google drive
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [48]:
# import libraries
import pandas as pd
import os
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error
import numpy as np

In [49]:
# path to data
path = '/content/gdrive/MyDrive/brazilian_ecommerce'

## Data

In [50]:
# read data
data = pd.read_csv(os.path.join(path,'df_order_items_products_customers.csv'))
data.head()

                           order_id  ... customer_state
0  2e7a8482f6fb09756ca50c10d7bfc047  ...             RR
1  2e7a8482f6fb09756ca50c10d7bfc047  ...             RR
2  35d3a51724a47ef1d0b89911e39cc4ff  ...             RS
3  c4f710df20f7d1500da1aef81a993f65  ...             MG
4  81e5043198a44ddeb226002ff55d8ad4  ...             RJ

[5 rows x 19 columns]

In [51]:
# create new dataframe to calculate cltv
df_clv = data[['order_id','customer_unique_id','product_id','order_purchase_timestamp',
                    'quantity','price'
                    ]].copy()
df_clv.rename(columns={'order_purchase_timestamp':'purchased_date'},inplace=True)
df_clv.head()

                           order_id  ...  price
0  2e7a8482f6fb09756ca50c10d7bfc047  ...  39.99
1  2e7a8482f6fb09756ca50c10d7bfc047  ...  32.90
2  35d3a51724a47ef1d0b89911e39cc4ff  ...  39.99
3  c4f710df20f7d1500da1aef81a993f65  ...  39.99
4  81e5043198a44ddeb226002ff55d8ad4  ...  38.50

[5 rows x 6 columns]

In [52]:
# change datatype
df_clv['purchased_date'] = pd.to_datetime(df_clv['purchased_date'])

In [53]:
# calculate total payment
df_clv['TotalPurchase'] = df_clv['quantity']*df_clv['price']
# calculation necessary attributes
df_clv_group = df_clv.groupby('customer_unique_id').agg({'purchased_date':lambda date: (date.max()-date.min()).days,  # calculate lifetime
                                                   'order_id': 'count', # number of orders
                                                   'quantity': 'sum', # total quantity
                                                   'TotalPurchase': 'sum'             # total value                                      
                                                   })
# rename columns
df_clv_group.columns=['num_days','num_transactions','num_units','total_purchase']
df_clv_group.head()

                                  num_days  ...  total_purchase
customer_unique_id                          ...
0000366f3b9a7992bf8c76cfdf3221e2         0  ...          129.90
0000b849f77a49e4a4ce2b2a4ca5be3f         0  ...           18.90
0000f46a3911fa3c0805444483337064         0  ...           69.00
0000f6ccb0745a6a4b88665a16c9f078         0  ...           25.99
0004aac84e0df4da2b147fca70cf8255         0  ...          180.00

[5 rows x 4 columns]

## Calculate CLTV

In [54]:
# calculate Average order value
df_clv_group['avg_order_value'] = df_clv_group['total_purchase']/df_clv_group['num_transactions']
# calculate frequency of purchase
purchase_frequency=sum(df_clv_group['num_transactions'])/df_clv_group.shape[0]
# calculate repeat rate
repeat_rate = df_clv_group[df_clv_group['num_transactions']>1].shape[0]/df_clv_group.shape[0]
# calculate churn rate
churn_rate = 1 -repeat_rate
# profit margin: assume company gain 5% profit 
df_clv_group['profit_margin']=df_clv_group['total_purchase']*0.05
# calculate customer value
df_clv_group['CLV'] = (df_clv_group['avg_order_value']*purchase_frequency)/churn_rate
# calculate customer lifetime value
df_clv_group['cust_lifetime_value'] = df_clv_group['CLV']*df_clv_group['profit_margin']

df_clv_group.head()

                                  num_days  ...  cust_lifetime_value
customer_unique_id                          ...
0000366f3b9a7992bf8c76cfdf3221e2         0  ...           964.130978
0000b849f77a49e4a4ce2b2a4ca5be3f         0  ...            20.409922
0000f46a3911fa3c0805444483337064         0  ...           272.029446
0000f6ccb0745a6a4b88665a16c9f078         0  ...            38.594933
0004aac84e0df4da2b147fca70cf8255         0  ...          1851.240084

[5 rows x 8 columns]

## Predict CLTV

In [55]:
# extract purchase year month
df_clv['PurchaseYearMonth'] = df_clv['purchased_date'].dt.to_period('M')
# create a pivot table 
revenue = pd.pivot_table(data= df_clv, 
                      columns='PurchaseYearMonth',
                      index='customer_unique_id',
                      values='TotalPurchase',
                      aggfunc = 'sum', fill_value =0)
revenue.head()

PurchaseYearMonth                 2016-09  2016-10  ...  2018-08  2018-09
customer_unique_id                                  ...
0000366f3b9a7992bf8c76cfdf3221e2      0.0      0.0  ...      0.0        0
0000b849f77a49e4a4ce2b2a4ca5be3f      0.0      0.0  ...      0.0        0
0000f46a3911fa3c0805444483337064      0.0      0.0  ...      0.0        0
0000f6ccb0745a6a4b88665a16c9f078      0.0      0.0  ...      0.0        0
0004aac84e0df4da2b147fca70cf8255      0.0      0.0  ...      0.0        0

[5 rows x 24 columns]

In [56]:
# cal CLV column
revenue['CLV']=revenue.sum(axis=1)
revenue = revenue.reset_index()
revenue.head()

PurchaseYearMonth                customer_unique_id  2016-09  ...  2018-09     CLV
0                  0000366f3b9a7992bf8c76cfdf3221e2      0.0  ...        0  129.90
1                  0000b849f77a49e4a4ce2b2a4ca5be3f      0.0  ...        0   18.90
2                  0000f46a3911fa3c0805444483337064      0.0  ...        0   69.00
3                  0000f6ccb0745a6a4b88665a16c9f078      0.0  ...        0   25.99
4                  0004aac84e0df4da2b147fca70cf8255      0.0  ...        0  180.00

[5 rows x 26 columns]

In [57]:
# define input, output
X= revenue.iloc[:,4:-1] # select the latest 21 months as input
y= revenue[['CLV']] # output

In [58]:
#split training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2 ,random_state=42)

In [59]:
# import model
model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [60]:
# calculate MAE using scikit-learn
print("MAE:",mean_absolute_error(y_test,y_pred))#calculate mean squared error
print("MSE",mean_squared_error(y_test, y_pred))
# compute the RMSE of our predictions
print("RMSE:",np.sqrt(mean_squared_error(y_test, y_pred)))

MAE: 1.050603225676365
MSE 123.51242694121925
RMSE: 11.113614485900582